<ul class="nav">
  <span><%= link_to "Test Guru Admin Panel", "/" %></span>

  <% if user_signed_in? %>
    <p class="nav user">
      Welcome, <b><%= current_user.email %></b> Guru |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </p>
  <% end %>

</ul> 
