<footer>
  <div class="footer-wrapper">
    <div class="footer-container">
      <p class="footer_current-year"><%= current_year %></p>
      <p class="footer_author-name">Alex Frost (C)</p>
      <p class="footer_project"><%= github_url("AlexFrost1996", "Test-Guru") %></p>
      <p>This project is about test Guru developer<p>
      <p class="footer_school"><a href="https://thinknetica.com" class="footer_project-name--link">Учебный проект в онлайн-школе Thinknetica</a></p>
    </div>
  </div>
</footer> 
