body
  margin: 0
  padding: 0

.global_wrapper
  display: flex
  flex-direction: column
  height: 100vh
  justify-content: space-between

.progress-bar-container
  border-radius: 5px
  border: 1px solid #007bff
  width: 500px
  height: 30px
  position: relative

.progress-bar
  position: absolute
  top: -1px
  border-radius: 5px
  background-color: #007bff
  height: 30px

  &_percent
    line-height: 30px
    margin: 0

.nil-percent
  color: #000
  padding-left: 10px

.footer_project,
.footer_school
  a
    color: #fff

.content-wrapper
  max-width: 1120px
  margin: 0 auto

  .content-container 
    display: flex
    justify-content: center
    align-items: center
    padding: 20px
    flex-direction: column

footer 
  background-color: #387dff

  .footer-wrapper 
    max-width: 1120px
    margin: 0 auto

    .footer-container 
      display: flex
      justify-content: center
      align-items: center
      color: #fff
      padding: 20px

      p 
        display: inline-block
        margin-right: 30px

        &:last-child
          margin-right: 0

.success_test 
  color: green
  font-size: 30px
  font-weight: 600

.error_test 
  color: red
  font-size: 30px
  font-weight: 600
  padding-left: 10px

.contact_us
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  textarea
    width: 500px
    height: 150px
